.app-container {
  padding: 8px 16px;
  max-width: 640px;
  margin: 0 auto;
}

.page-tittle {
  font-size: 24px;
  color: var(--primary);
  border-bottom: 1px solid var(--border);
  padding: 8px 0;
  margin: 0 0 16px;
}

.tweet-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 16px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
  align-items: center;
  gap: 18px;
  margin-top: 16px;
}

.post-button {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  background-color: var(--primary);
  border-radius: 16px;
  color: white;
  cursor: pointer;
}

.post-button:hover {
  opacity: 0.9;
}

.post-button:disabled {
  background-color: var(--primary-light);
  pointer-events: nome;
}

.tweet-list {
  list-style-type: none;
  margin: 32px 0;
  padding: 0;
}

.tweet-list-item {
  margin-top: 8px;
  padding: 16px 0;
  border-bottom: 1px solid var(--border);
}

.tweet-list-item:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
